.wp-block-columns {
    &.pattern-headline-with-cards {
        .pattern-headline-col {
            &:nth-child(2) {
                display: flex;
                align-items: center;
            }
        }

        .pattern-headline-content {
            .has-section-header-font-size {
                font-family: var(--font-bold);
            }
        }
    }
}
