<!-- wp:template-part {"slug":"header", "theme":"catalina"} /-->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"black","align":"full","className":"post-hero"} -->
<div class="wp-block-cover alignfull post-hero"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-terms {"term":"category"} /-->

    <!-- wp:post-title {"level":1, "textAlign":"left"} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:post-author /-->

    <!-- wp:post-date /--></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
<!-- wp:post-content /-->
<!-- wp:template-part {"slug":"footer","theme":"catalina"} /-->