body {
    background-color: var(--primary-color);
    font-family: var(--font-normal);
    color: var(--black-color);
}

.wp-site-blocks {
    max-width: var(--container);
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    // font-family: var(--font-black);

    strong {
        color: var(--tertiary-color);
    }
}

p {
    font-family: var(--font-normal);
    line-height: var(--leading-loose);

    strong {
        font-family: var(--font-bold);
    }
}

.alignwide,
.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}
