@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Inter-Medium.woff2");
}

@font-face {
    font-family: "Inter Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Inter-Bold.woff2");
}

@font-face {
    font-family: "Inter Black";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Inter-Black.woff2");
}
