:root {
    --primary-color:   #D8FF00;
    --secondary-color: #5E6F00;
    --tertiary-color:  #B6D600;
    --white-color:     #FFF;
    --black-color:     #333333;
    --font-normal:     'Inter', sans-serif;
    --font-bold:       'Inter Bold', sans-serif;
    --font-black:      'Inter Black', sans-serif;
    --leading-loose:   34px;

    --container:   1152px;
}
